nav, header, footer {
    display: block;
}

.container {
    background-color: purple;
    width: 90%;
    margin: auto;
    padding: 5%;
    border-radius: 3px;
}

div.container {
    text-align: left;
    font-size: 20px;
    color: white;
}

h1 {
    margin: 0;
}

button {
    font-size: 30px;
    font-weight: 200;
    color: purple;
    background-color: white;
    padding: 5px;
    margin: 1px;
    border-radius: 15px;
}

.point1 {
    text-align: center;
    font-size: 22px
}

.point2 {
    color: purple;
}

.col-1 {width: 8.33%}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/********NAV BAR*******/

nav {
    width: 100%;
    margin: 0;
}

nav ul {
    background-color: white;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

ul.topnav li {
    list-style: none;
    float: left;
    padding: 5px;
    margin: 0;
}

ul.topnav li a {
    display: block;
    text-decoration: none;
    font-size: 18px;
    min-height: 15px;
    padding: 5px;
    text-align: left;
    color: purple;
}

ul.topnav li a:hover {
    background-color: darkblue;
    color: aliceblue;
}

ul.topnav li.dropdownIcon {
    display: none;
}

ul.topnav img {
    padding: 1%;
    float: right;
}


/********* Mobile*******/
@media screen and (max-width: 910px) {
    ul.topnav li:not(:nth-child(0)) {
        display: none;
    }
    
    ul.topnav li.dropdownIcon {
        display: block;
        float: left;
    }
    
    ul.topnav.responsive li.dropdownIcon {
        position: absolute;
        top: 0;
        left: 0;
    }
    
    ul.topnav.responsive {
        position: relative;
    }
    
    ul.topnav.responsive li {
        display: inline;
        float: none;
    }
    
    ul.topnav.responsive li a {
        display: block;
        text-align: left;
    }
}